/*----- element selectors ------*/
html {
    box-sizing:border-box;
    height:100vh;
    width:100vw;
    margin:0;
    font-family: 'Righteous', sans-serif;
}
body {
    background-color: rgb(11, 60, 7);
    background: radial-gradient(#277e33,rgb(11, 60, 7));
    font-size: 5vmin;
    margin:0;
    height:100vh;
    width:100vw;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:10vh;
    background: radial-gradient(#020203,rgb(68, 67, 67));
    color:white;
}

button {
    height:6vmin;
    width:17vmin;
    font-size:2.4vmin;
    color: white;
    background-color: rgb(68, 67, 67);
    border: 0.5vmin solid rgb(33, 30, 30);
    border-radius: 0.5vmin;
    font-family: 'Righteous',sans-serif;
}

button:hover {
    cursor: pointer;
}

img {
    /* width: 65%; */
    width: 6vw;
    background: white;
    border: 3px solid black;
    /* border-radius:5%; */
    border-radius:0.5vmin;

}

img:not(:first-child) {
    /* margin-top:-69%; */
    margin-top: -6.5vw;
}

span {
    font-weight: 700;
    text-decoration: underline;
}

/*--------- class selectors ---------*/
.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    /* margin-top:1vmin; */
}

.arr {
    /* background-color:rgb(12, 111, 7); */
    /* height: 100%;   */
    height: 90vh;  
    width: 11vw;
    display:flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border:1px solid black; 
}

.pyr > img:first-child {
    margin-top:1vmin;
}

.piles {
    /* height: 18%; */
    height: 13vh;
    background-color: #177D26;
    width: 6vw;
    border:1px solid black;
    border-radius:5%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.selected {
    border: 5px solid rgb(161, 54, 207);
}

/*--------- id selectors ---------*/
#deck-col, #ace-col {
    background-color: rgb(3, 55, 3);
    border:1px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

#deck-col {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:10%;
}

#deck {
    margin-top:1vmin;
}

#move-counter {
    font-size: 2vmin;
}

#rules {
    position: absolute;
    font-size:2vmin;
    color:white;
    top:8.2vmin;
    left:8.5vmin;
    background-color:white;
    width:50vmax;
    background-color: rgb(68, 67, 67);
    border: 0.5vmin solid rgb(33, 30, 30);
    padding:1vmin;
    visibility: hidden;
}